@import url(//fonts.googleapis.com/css?family=Lato:300);

body {
  font-family: Lato, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  padding-top: 50px;
  margin: 0;

 -moz-user-select: none;
 -khtml-user-select: none;
 -webkit-user-select: none;

 /*
   Introduced in IE 10.
   See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
 */
 -ms-user-select: none;
 user-select: none;
}

h1, h2, h3 {
  text-align: center;
  font-weight:  normal;
}

h1 {
  color: #222;
  font-size: 3em;
  margin-top: 15px;
}

h2 {
  color: #555;
}

h3 {
  margin: 0;
}

h3 img {
  width: 75px;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
}

nav#menu {
  margin-top: 50px;
  background: #3498db;
  text-align: center;
  height: 50px;
  width: 100%;
}

nav#menu ul {
  padding: 0;
  background: white;
  margin: 0 auto;
  display: inline-block;
  height: 50px;
}

nav#menu ul li {
  float: left;
  padding: 0 10px;
  background: #3498db;
  list-style: none;
  margin-right: 5px;
  line-height: 50px;
  height: 50px;
  width: 145px;

  -webkit-transition:background-color 0.2s ease-in-out;
  -moz-transition:background-color 0.2s ease-in-out;
  -o-transition:background-color 0.2s ease-in-out;
  transition:background-color 0.2s ease-in-out;
}

nav#menu ul li:nth-child(1) {
  margin-left: 5px;
}

nav#menu ul li.active, nav#menu ul li:hover {
  background: #2980b9;
}

nav#menu ul li:hover {
  cursor: pointer;
}

nav#menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.3em;
  position: relative;
  display: block;
}

.blog, .email { background-color: #0a88ff !important;  }
.blog:hover, .email:hover { background-color:#006ed6 !important; }

.facebook { background-color: #306199 !important; }
.facebook:hover { background-color:#244872 !important; }

.codefarm { background-color: #F6A316 !important; }
.codefarm:hover { background-color: #e79509 !important; }

.twitter { background-color: #26c4f1 !important; }
.twitter:hover { background-color:#0eaad6 !important;}

.github { background-color: #444 !important; }
.github:hover {background-color:#2b2b2b !important; }

@font-face {
  font-family: 'social';
  src: url('../font/social.eot?41739959');
  src: url('../font/social.eot?41739959#iefix') format('embedded-opentype'),
       url('../font/social.woff?41739959') format('woff'),
       url('../font/social.ttf?41739959') format('truetype'),
       url('../font/social.svg?41739959#social') format('svg');
  font-weight: normal;
  font-style: normal;
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "social";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-twitter:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\e803'; } /* '' */
.icon-github:before { content: '\e805'; } /* '' */
.icon-blog:before { content: '\e807'; } /* '' */
.icon-mail:before { content: '\e808'; } /* '' */

.icon-codefarm{
background: #F6A316 url(//codefarm.com.br/img/square.png) no-repeat fixed left top;
background-size: 20px 20px;
}
.icon-codefarm:before { content: ' '}

.icon { float: left; }

@media screen and (max-width: 900px) {

  body {
    padding-bottom: 50px;
  }

  nav#menu, nav#menu ul {
    height: auto;
  }

  nav#menu ul {
    display: block;
  }

  nav#menu ul li {
    float: none;
    display: block;

    margin: 5px auto !important;
    width: 50%;
  }

}

@media screen and (max-width: 480px) {

  nav#menu ul li {
    width: 75%;
  }
}