@import url(//fonts.googleapis.com/css?family=Lato:300);

body, html {
  height: 100%;
  min-height: 625px;
  padding: 0;
  margin: 0;
  position: relative;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  background-color: #0095f7;

 -moz-user-select: none;
 -khtml-user-select: none;
 -webkit-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

h1, h2, h3 {
  text-align: center;
  font-weight:  normal;
}

h1 {
  color: #fff;
  font-size: 3em;
  margin-top: 15px;
}

h2 {
  color: #fff;
}

h3 {
  margin: 0;
}

h3 img {
  width: 100px;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
}

.content {
  text-align: center;
  top: 50%;
  position: absolute;
  width: 100%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.border {
  border: 10px solid white;
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
}


nav#menu {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  height: 50px;
  width: 100%;
}

nav#menu ul {
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 50px;
}

nav#menu ul li {
  float: left;
  padding: 8px 7px 9px;
  list-style: none;
  margin-right: 30px;

  -webkit-transition:background-color 0.2s ease-in-out;
  -moz-transition:background-color 0.2s ease-in-out;
  -o-transition:background-color 0.2s ease-in-out;
  transition:background-color 0.2s ease-in-out;
}

nav#menu ul li:nth-child(1) {
  margin-left: 5px;
}

nav#menu ul li.active, nav#menu ul li:hover {
  border-radius: 5px;
  background: rgba(0,0,0,0.1);
}

nav#menu ul li:hover {
  cursor: pointer;
}

nav#menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.3em;
  position: relative;
  display: block;
}

.publickey {
  font-size: 1.15em;
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 8px 7px 9px;
  -webkit-transition:background-color 0.2s ease-in-out;
  -moz-transition:background-color 0.2s ease-in-out;
  -o-transition:background-color 0.2s ease-in-out;
  transition:background-color 0.2s ease-in-out;

}

.publickey:active, .publickey:hover, .publickey:focus {
  border-radius: 5px;
  background: rgba(0,0,0,0.1);
}

/*.blog, .email { background-color: #0a88ff !important;  }
.blog:hover, .email:hover { background-color:#006ed6 !important; }

.facebook { background-color: #306199 !important; }
.facebook:hover { background-color:#244872 !important; }

.codefarm { background-color: #F6A316 !important; }
.codefarm:hover { background-color: #e79509 !important; }

.twitter { background-color: #26c4f1 !important; }
.twitter:hover { background-color:#0eaad6 !important;}

.github { background-color: #444 !important; }
.github:hover {background-color:#2b2b2b !important; }*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  margin-left: .2em;
  content: ' ';
  background-size: 25px 25px;
}

.icon-twitter{
  background: url(/img/twitter.svg) no-repeat;
}
.icon-github{
  background: url(/img/github.svg) no-repeat;
}
.icon-mail{
  background: url(/img/mail.svg) no-repeat;
}
.icon-blog{
  background: url(/img/blog.svg) no-repeat;
}
.icon-lock{
  background: url(/img/lock.svg) no-repeat;
  background-size: 20px 20px;

}

.icon-codefarm{
  background: #F6A316 url(//codefarm.com.br/img/square.png) no-repeat fixed left top;
  background-size: 20px 20px;
}

@media screen and (max-width: 900px) {

  body {
    padding-bottom: 50px;
  }

  nav#menu, nav#menu ul {
    height: auto;
  }

  nav#menu ul {
    display: block;
  }

  nav#menu ul li {
    float: none;
    display: block;

    margin: 5px auto !important;
  }

}

@media screen and (max-width: 761px) {
  h3 img {
    width: 75px;
  }

  h1 {
    font-size: 2em;
  }

  nav#menu {
    margin-top: 30px;
  }
}

@media screen and (max-width: 480px) {

  nav#menu ul li {
    width: 75%;
  }
}